/*Common elements*/
body {
    font-size: 67.5%;
    font-family: Tahoma, Geneva, sans-serif;
    /* background: #39150C url(img/background.jpg) no-repeat fixed top center; */
    background-color: black;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
#feature{
    color: white;
    position: relative;
    text-align: center;
}
h1 {
    position: relative;
    text-align: center;
    color: black;
}
h2 {
    position: relative;
    text-align: center;
    color: black;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #555;
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;
}
ol {
    font-size: 1.2em;
    margin: 0 0 0 1.0em;
    padding: 0 0 0 1.0em;
}
ol li {
    margin: 0;
    padding: 0 0 0.2em;
}
a, a:visited {
    color: #C64322;
}
a:hover {
    color: #333;
}
hr {
    padding: 0;
    margin: 1.5em 1.5em 0.75em 0.5em;
}
.contentWrapper {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
}
.left {
    float: left;
}
.right {
    float: right;
}
div.clear { 
    clear:both;
    font-size: 1%;
}

/*Header*/
header {
    padding: 2.5em 0 0.5em;
    margin: 0 0 2.0em;
    background: #39150C url(img/background2.jpg) center 0px;
}
header h1 {
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 7.5em;
    letter-spacing: -0.025em;
    margin: 0;    
    /*text-shadow: 1px 2px 0 #bd8437;  offset-x | offset-y | blur-radius | color */
}
header h2 {
    font-weight: 300;
    font-size: 3.8em;
    color:white;
    margin: -0.4em 0 0 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
}
/*Nav Bars*/
nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: #C64322;
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color: #C64322;
    background-color: rgba(252,251,243,0.75);
}
nav#utilityMenu {
    position: relative;
    float: right;
    background-color: rgba(64,54,47,0.8);
    top: 120px;
}
nav#utilityMenu li {
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;    
}
nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 1.3em;
    padding: 0.5em;
    margin: -0.4em 0 0 0;
    font-size: 0.8em;
}
nav#utilityMenu ul li.acctNav a.active {
    background-color: #C64322;
}
nav#utilityMenu ul li.acctNav a:hover {
    background-color: rgba(252,251,243,0.7);
    color: #C64322;
}
nav#utilityMenu li a, nav#utilityMenu li a:visited { padding: 0;}
nav#utilityMenu li a:hover { background-color: transparent;}
nav#utilityMenu ul li input#search {
    vertical-align: middle;
    margin: 0 0 0 1.0em;
}
nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before {
    content: "| ";
    color: #FCFBE6;
}

/*Sidebar Section*/
section#sidebar {
    width: 238px;
    float: left;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: #2BA967 solid 5px;
   }
section#sidebar2 {
    width: 238px;
    float: right;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 1.5em 0 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-left: #2BA967 solid 5px;
}
/*Main Section*/
section #main {
    /*background-color: #FCFBE6;*/
    background-color: rgba(252,251,243,0.7);
    margin: 0 0 2.0em;
    padding: 1.5em  0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
   }
   section div.panel{
    float: left;
    position: relative;
    width: 250px;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.6em;
   }
   section div.panel img.cheeseType {
    width: 100%;
   }
/*Footer*/
footer {
    background-color: #40362f;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}
footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
button {
    color: #C64322;
    background-color: #FFF;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #C64322;
    text-transform: uppercase;
}
button:hover {
    background-color: #FBF3DB;
    border: 1px solid #745b2f;
}
